html, body {
   height: 100%;
}

html {
    display: table;
    margin: auto;
}

body {
    display: table-cell;
    vertical-align: middle;
    font-family: 'Roboto', sans-serif;
}




.card {
    background-color: rgb(18, 146, 220);
    width: 500px;
    padding: 5px 5px 20px 20px;
    border-radius: 10px;
    color: white;
    box-shadow: rgba(99, 99, 99, 0.8) 2px 4px 16px 2px;
}

.description {
    font-weight: bold;

}

.city {
    margin-bottom: 0px;
}

.infoAboutCity {
margin-top: 1px;
}

.infoFromApi {
    margin-top: 2px;
    margin-bottom: 20px;
}

.infoFromApi > p {
    margin-bottom: 0px;
    margin-top: 5px ;
}

.infoAboutTime {
    font-style: italic;
}

button {
    color: white;
    padding: 8px 15px;
    text-align: center;
    text-decoration: none;
    font-size: 1.1rem;
    margin: 4px 2px;
    cursor: pointer;
    background-color: rgb(245, 238, 238);
    color: black;
    border: 2px solid #11156c;
    border-radius: 8px;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 11px 35px 2px;
    transition-duration: 0.2s;
}

button:hover {
    background-color: #6cc7e5;
    color: white;
    border: 2px solid white
  }

  button:focus {
    background-color: rgb(37, 122, 179);
    color: white;
    border: 2px solid white
  }
